.r-material-light {
  backdrop-filter: blur(100px);
  background-color: rgba(255, 255, 255, 0.95);
}

.r-material-light-gradient {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.65));
  backdrop-filter: blur(10px);
}

.r-material-dark {
  background: rgba(0, 0, 0, 0.3);
}

.r-material-dark-thin {
  background: rgba(0, 0, 0, 0.1);
}

.r-slider-thumb {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}

.sketch-picker > div:nth-child(3) {
  display: none !important;
}
