.r-material {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.65));
  backdrop-filter: blur(10px);
}

.r-slider-thumb {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}
