.r-text-primary { color: rgba(0, 0, 0, 0.9) }
.r-text-secondary { color: rgba(0, 0, 0, 0.6) }
.r-text-tertiary { color: rgba(0, 0, 0, 0.4) }

.r-material-light {
  backdrop-filter: blur(100px);
  background-color: rgba(255, 255, 255, 0.95);
}

.r-material-light-gradient {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.65));
  backdrop-filter: blur(10px);
}

.r-material-dark {
  background: rgba(0, 0, 0, 0.3);
}

.r-material-dark-thin {
  background: rgba(0, 0, 0, 0.1);
}

.r-slider-thumb {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}


.r-input { border-radius: 3px; padding: 3px 6px; cursor: text; }

.r-input:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 1);
}

.r-input.focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.04);
}



.sketch-picker > div:nth-child(3) {
  display: none !important;
}
