:root {
  --r-color-primary: rgba(0, 0, 0, 0.9);
  --r-color-secondary: rgba(0, 0, 0, 0.6);
  --r-color-tertiary: rgba(0, 0, 0, 0.4);

  --r-color-background: rgba(255, 255, 255, 0.95);
  --r-color-background-thin: rgba(255, 255, 255, 0.65);
  --r-color-surface: rgba(0, 0, 0, 0.3);
  --r-color-surface-thin: rgba(0, 0, 0, 0.1);
  --r-color-surface-ultrathin: rgba(0, 0, 0, 0.05);
}



.r-text-primary { color: var(--r-color-primary) }
.r-text-secondary { color: var(--r-color-secondary) }
.r-text-tertiary { color: var(--r-color-tertiary) }

.r-material-light {
  backdrop-filter: blur(100px);
  background-color: var(--r-color-background);
}

.r-material-light-gradient {
  background: linear-gradient(to bottom, var(--r-color-background), var(--r-color-background-thin));
  backdrop-filter: blur(10px);
}

.r-material-dark {
  background: var(--r-color-surface);
}

.r-material-dark-thin {
  background: var(--r-color-surface-thin);
}

.r-slider-thumb {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}

.r-input { border-radius: 3px; padding: 3px 6px; cursor: text; }

.r-input:hover {
  box-shadow: 0 0 0 1px var(--r-color-surface-thin);
  background: var(--r-color-background);
}

.r-input.focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  background: var(--r-color-surface-ultrathin);
}

.r-popover {
  backdrop-filter: blur(100px);
  background-color: var(--r-color-background);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 8px 16px;
  border-radius: 4px;
}

.r-close-button {
  background: var(--r-color-surface-ultrathin);
  width: 36px;
  height: 36px;
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.r-close-button svg path {
  fill: var(--r-color-secondary);
}
.r-close-button:hover {
  background: var(--r-color-surface-thin);
}



.r-canvas-dotgrid {
  background-color: #ffffff;
  background-image: radial-gradient(circle, #d0d0d0 1px, transparent 1px);
  background-size: 20px 20px;
}

.sketch-picker > div:nth-child(3) {
  display: none !important;
}
